Flask==1.1.2
Flask-Caching==1.7.1
Jinja2==2.11.3
Keras==2.3.1
numpy==1.18.5
Werkzeug==1.0.1
gunicorn==19.9.0
itsdangerous==1.1.0
MarkupSafe==1.1.1
scipy>=0.15.1
scikit-learn>=0.18
matplotlib>=1.4.3
tensorflow>=1.14.0
opencv-python>=3.4.2
opencv-python-headless
opencv-contrib-python-headless
